# Built with https://github.com/rollchains/spawn
configs/logs.json
dist/
build/

# Create cosmos app
web/

**/.DS_Store
.idea

# Foundry
app/precompiles/out/
app/precompiles/cache/
app/precompiles/lib/
